{
  "extends": ["react-important-stuff", "plugin:prettier/recommended"],
  "parserOptions": {
    "babelOptions": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  },
  "plugins": ["@babel"],
  "parser": "@babel/eslint-parser"
}
